.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.smurfListContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  width: 50rem;
}
.smurfFormContainer {
  width: 50rem;
}

button {
  width: 7rem;
}

.smurfsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 50rem;
}

.smurfContainer {
  border: 1px solid grey;
  background-color: ghostwhite;
  /* text-align: left; */
  width: 12rem;
  margin: 20px 10px;
}
.deleteIcon {
  float: right;
  cursor: pointer;
}
.deleteIcon:hover {
  transform: scale(1.2,1.2);
}
